body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair';
}

.puzzelIntro {
    flex-direction: column;
    padding-top: 5rem;
    padding-right: 5rem;
}

.puzzelIntroContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 7rem;
    font-size: 1.2rem;
}

.puzzelIntro h1 {
    margin-left: 7rem;
    font-weight: normal;    
    font-size: 3.5rem;
    margin-bottom: 5rem;
}

.puzzelLink a {
    margin-left: 7rem;
    text-decoration: none;
    color: black;
    background-color: black;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: white;
    font-size: 1.2rem;
}

.back {
  opacity: 0;
}

/* puzzelImg section */

.puzzelImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.puzzelImg img {
    width: 80rem;
    object-fit: cover;
    border-radius: 1rem;
}

.puzzelContainer {
    display: flex;
    gap: 4rem;
    margin-top: 4rem;
}

.puzzelContainer img {
    width: 38rem;
    object-fit: cover;
    border-radius: 1rem;
}

/* More information */

.aboutMe {
  display: flex;
  padding-top: 10rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.aboutMe h1 {
  font-size: 2rem;
  font-weight: normal;
}

.aboutMeContainer {
  display: flex;
  flex-direction: row;
  gap: 37rem;
  padding-bottom: 10rem;
  justify-content: center;
}

.pTekst {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pTekst p {
  font-size: 1.2rem;
  font-weight: lighter;
}

/* ohter projects */

.otherProjects {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  margin-left: 7rem;
}

.otherProjects h1 {
  font-size: 2rem;
  font-weight: normal;
}

.otherProjectsContainer {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding-bottom: 10rem;
  margin-top: 5rem;
}

.otherProjectsElement1 img {
  width: 30rem;
  object-fit: cover;
  border-radius: 1rem;
}

.otherProjectsElement img {
  width: 20rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 1rem;
}

/* contact me */

.contactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-top: 5rem;
}

.contactMe h1 {
  font-size: 2.5rem;
  font-weight: normal;
}

.contactMeContainer {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 3rem;
  justify-content: center;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  font-size: 2rem;
}

.copyright {
  color: #878787;
}

.socialMedia a {
  color: black;
}

@media (max-width: 1350px) {
  .puzzelIntro,
  .puzzelIntro h1,
  .puzzelIntro a,
  .puzzelIntroContainer {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-right: 0;
  }

  .puzzelImg img {
    width: 100%;
    max-width: 80rem;
  }

  .puzzelContainer {
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .puzzelContainer img {
    width: 90%;
    max-width: 38rem;
  }

  .aboutMeContainer {
    gap: 5rem;
    padding: 0 2rem 5rem 2rem;
  }

  .pTekst {
    width: 60%;
  }

  .otherProjects {
    margin-left: 2rem;
    
    align-items: center;
  }

  .otherProjectsContainer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .otherProjectsElement img,
  .otherProjectsElement1 img {
    width: 90%;
    max-width: 30rem;
  }
}

@media (max-width: 1024px) {
  .puzzelIntro,
  .puzzelIntro h1,
  .puzzelIntro a,
  .puzzelIntroContainer {
    margin-left: 2rem;
    padding-right: 2rem;
  }

  .puzzelImg img,
  .puzzelContainer img,
  .otherProjectsElement img,
  .otherProjectsElement1 img {
    width: 90%;
    margin: 0 auto;
    display: block;
  }

  .puzzelContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }


  .aboutMeContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem 5rem 2rem;
  }

  .pTekst {
    width: 90%;
  }

  .otherProjects {
    margin-left: 0;
    align-items: center;
    text-align: center;
  }

  .otherProjectsContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 1rem;
  }
}

@media (max-width: 768px) {
  .puzzelIntro h1 {
    font-size: 1.9rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    width: 100%;
  }

  .puzzelIntro a {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    margin-left: 1rem;
  }

  .puzzelIntroContainer {
    margin-left: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
  }

  .aboutMe h1,
  .otherProjects h1,
  .contactMe h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .pTekst p {
    font-size: 1rem;
  }


  .contactMeContainer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .otherProjects {
    margin-left: 0;
    align-items: center;
  }


  .puzzelContainer {
    margin-top: 2rem;
    
  }
    .otherProjectsContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
  }

  .back {
  position: absolute;
  top: 3rem;
  margin-bottom: 2rem;
  left: 0.5rem;
  display: flex;
  align-items: center;
  opacity: 1; /* Zorg dat hij zichtbaar is */
  z-index: 1000; /* Zorg dat hij boven andere elementen ligt */
}

.back a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  background-color: white;
  padding: 0;
}

.back i {
  font-size: 2rem;
}
}

